<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  		  <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
          <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  		  <script src="/assets/js/materialize.js"></script>
          <script src="/assets/js/init.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>